/* #dash-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/assets/images/gloved-hand.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}  */


.container{
    margin-top: 20px;
    
}
.capitolHill{
    height: 600px;
    width: 1000px;
    
}
