/* #dash-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/assets/images/gloved-hand.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}  */


.container{
    margin-top: 20px;
    
}
#carousel-img1, #carousel-img2, #carousel-img3{
    height: 600px;
    width: 100%;
}

#caption1 {
  color: white;
}

#caption2 {
  color: #b22222
}

#caption3 {
  color: grey;
}

button.submit {
  float: right;
}
  
form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete, button.edit {
  float: right;
  margin: 5px;
}
