<div class="container" id="dash-image">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/gloved-hand.jpg" class="d-block w-100" id="carousel-img1" alt="...">
        <div class="carousel-caption d-none d-md-block caption">
          <h1>House Our Heroes</h1>
          <p>Bringing awareness to the first responder housing crisis throughout
            this worldwide pandemic.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://covidplanet.samt.st/" target="_blank"><img src="./assets/images/globe.png" id="carousel-img2"></a>
        <div class="carousel-caption d-none d-md-block caption" >
          <h1>Click the globe</h1>
          <p>Interactive globe with real time updates (cases/deaths) all over the world.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="./user/blog"><img src="../../assets/images/communicate.png" class="d-block w-100"
            id="carousel-img3" alt="..."></a>
        <div class="carousel-caption d-none d-md-block caption" >
          <h1>Make a Post</h1>
          <p>Communicate with like-minded individuals or post your thoughts so others can chime in!
          </p>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>