<div class="container" id="dash-image">
    <div class="row">
        <div class="col-12">
            <center>
                <h1>House Our Heros</h1>
                <br>
                <h2>Bringing awareness to the first responder housing crisis</h2>
                <h4><i>Throughout this worldwide pandemic many first responders inclding </i></h4>
                <br>
                <hr>
                {{!-- search database --}}
                <h2> database </h2>
                <h2> random text</h2>
                <form class="create-form col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <input class="form-control" type="text"
                            placeholder="Type search here...." name=" "
                            required>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </center>
        </div>
    </div>
</div>
<div class="container" id="dash-image">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
{{!-- left column --}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
            id="left-burger-column">
            <center>
                <h2>Something here</h2>
                <h6><i>(text text text)</i>
                </h6>
            {{!-- placeholder --}}
                {{!-- <a href="https://##" target="_blank">
                    <img class="img-fluid" src="placeholder.png"
                        alt="something">
                    <i>credit to someone</i></a> --}}
            </center>
        </div>
        {{!-- right column --}}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
            id="right-burger-column">
            <center>
                <h2>Interactive Covid-Planet</h2>
                <h6><i>(opens a new window)</i></h6>
                <a href="https://covidplanet.samt.st/" target="_blank">
                    <img class="img-fluid" src="./assets/images/globe.png"
                        alt="screenshot of earth">
                    <i>GitHub: samthomson</i></a>
            </center>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/user.js"></script>