{{!-- <div class="container"></div>
<div class="jumbotron" style="background-color: #20315A ; color: white;">
    <h1 class="text-center">
        <strong>
            <i class="fa fa-newspaper-o"></i> News</strong>
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                    <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                        target="_blank">Why is Florida Banning this Tool that
                        Could Help Nurses and First Responders?</a></h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <a href="https://#"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                    <a href="https://www.floridatrend.com/article/29090/frontline-stays-airbnb-1199seiu-work-together-to-house-medical-first-responders-in-florida"
                        target="_blank">Frontline Stays: Airbnb, 1199SEIU Work Together to House Medical First Responders in Florida</a></h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <a href="https://#"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                    <a href="https://news.airbnb.com/airbnb-to-help-provide-housing-to-100000-covid-19-responders/"
                        target="_blank">Hosts to Help Provide Housing to 100,000 COVID-19 Responders</a></h2>
                </div>
                <div class="card-body">
                    <li class="list-group">
                        <li class="list-group-item"></li>
                        <a href="https://#"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                    <a href="https://www.airbnb.com/d/covid19relief"
                        target="_blank">Frontline stays for COVID-19 responders</a></h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <a href="https://#"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div> --}}
{{!-- <div class="col-lg-6">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                            target="_blank">Why is Florida Banning this Tool that
                            Could Help Nurses and First Responders?</a></h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <a href="https://#"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="news-container ""col-lg-6">
    <iframe width="600" height="700" src="https://rss.app/embed/v1/kMIYhbcmlk7hQTq8" frameBorder="0"></iframe>
</div> --}}

<div class="news-container">
    <div class="row">
        <div class="col-lg-6-static">
            <h2>Pinned Articles</h2>
           <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                            target="_blank">Why is Florida Banning this Tool that
                            Could Help Nurses and First Responders?</a></h2><br>
                             <a href="https://www.airbnb.com/d/covid19relief"
                        target="_blank">Frontline stays for COVID-19 responders</a></h2><br>
                        <a href="https://news.airbnb.com/airbnb-to-help-provide-housing-to-100000-covid-19-responders/"
                        target="_blank">Hosts to Help Provide Housing to 100,000 COVID-19 Responders</a></h2>
        </div>
        <div class="col-lg-6-live">
            <h2>Latest Covid related news</h2>
             <iframe width="600" height="700" src="https://rss.app/embed/v1/vyc5m9F92YpQlG1P" frameBorder="0"></iframe>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/user.js"></script>
