<div class="container" id="dash-image">
    <div class="row">
        <div class="col-12">
            <center>
                <h1><i>News </i></h1>
               
            </center>
        </div>
    </div>
</div>




<script type="text/javascript" src="/js/user.js"></script>