<div class="container"></div>
<div class="jumbotron" style="background-color: #20315A ; color: white;">
    <h1 class="text-center">
        <strong>
            <i class="fa fa-newspaper-o"></i> News</strong>
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Why is Florida Banning this Tool that
                        Could Help Nurses and First Responders?</h2>
                    <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                        target="_blank"></a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">text</li>
                        <a href="https://#">link</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Story title</h2>
                    <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                        target="_blank"></a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">text</li>
                        <a href="https://#">link</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Story title</h2>
                    <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                        target="_blank"></a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">text</li>
                        <a href="https://#">link</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="team-area col-12 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Story title</h2>
                    <a href="https://indefenseofliberty.blog/2020/04/02/short-term-rentals-can-be-an-important-public-health-resource/"
                        target="_blank"></a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">text</li>
                        <a href="https://#">link</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/user.js"></script>