<div class="container" id="dash-image">
    <div class="row">
        <div class="col-12">
            <center>
                <h1><i>Petitions</i></h1>
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <a href="">
                                    <div class="card" style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/people.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Provide all first responders with optional living facilities during COVID-19 pandemic</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <a href="">
                                    <div class="card" style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/nurse.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Hazard Pay for Nurses, Doctors and Healthcare Professionals.</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <a href="">
                                    <div class="card" style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=318%C3%97180&w=318&h=180"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Wrapped with a tag</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <a href="">
                                    <div class="card" style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=318%C3%97180&w=318&h=180"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Wrapped with a tag</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>





                <script type="text/javascript" src="/js/user.js"></script>