<div class="container">
    <div class="row">
        <div class="col-12">
            <center>
                <h1><i>Petitions</i></h1>
                <div class="container">
                    <div class="row">
                        <div id="card1" class="col-sm-6">
                            <div class="card">
                                <a href="">
                                    <div  class="card"
                                        style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/people.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Provide all
                                                first responders with optional
                                                living facilities during
                                                COVID-19 pandemic</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div id="card2" class="col-sm-6">
                            <div class="card">
                                <a href="https://www.change.org/p/hazard-pay-for-nurses-doctors-and-healthcare-professionals">
                                    <div  class="card"
                                        style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/nurse.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Hazard Pay for
                                                Nurses, Doctors and Healthcare
                                                Professionals.</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <a
                                    href="https://www.change.org/p/delhi-government-justice-for-doctors-martyred-in-covid">
                                    <div id="card3" class="card"
                                        style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/doctorsatwork.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Justice for
                                                doctors martyred in covid</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <a
                                    href="https://www.change.org/p/mayor-bill-de-blasio-value-first-responders">
                                    <div id="card4" class="card"
                                        style="width: 20rem; display: inline-block">
                                        <img class="card-img-top"
                                            src="../assets/images/docteam.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Value First
                                                Responders/ Respiratory
                                                Therapists</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>





<script type="text/javascript" src="/js/user.js"></script>