<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">
            <strong>
                <i class="fa fa-newspaper-o"></i> Petitions </strong>
        </h1>
    </div>
    <hr>

    <center>
        <div class="container">
            <div class="row">
                <div id="card1" class="col-sm-6">
                    <div class="card" style="width: 20rem; display: inline-block">
                        <a
                            href="https://www.change.org/p/martha-mcsally-provide-all-first-responders-with-optional-living-facilities-during-covid-19-pandemic">
                            <img class="card-img-top" src="../assets/images/people.png" alt="Card image cap">

                            <div class="card-body">
                                <p class="card-text">Provide all
                                    first responders with optional
                                    living facilities during
                                    COVID-19 pandemic</p>
                            </div>
                        </a>
                    </div>
                    {{!-- </div> --}}
                </div>
                <div id="card2" class="col-sm-6">
                    <div class="card" style="width: 20rem; display: inline-block">
                        <a href="https://www.change.org/p/hazard-pay-for-nurses-doctors-and-healthcare-professionals">
                            <img class="card-img-top" src="../assets/images/nurse.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hazard Pay for
                                    Nurses, Doctors and Healthcare
                                    Professionals.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="card3" class="col-sm-6">
                    <div class="card" style="width: 20rem; display: inline-block">
                        <a href="https://www.change.org/p/delhi-government-justice-for-doctors-martyred-in-covid">
                            <img class="card-img-top" src="../assets/images/doctorsatwork.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Justice for
                                    doctors martyred in covid</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div id="card4" class="card" style="width: 20rem; display: inline-block">
                        <a href="https://www.change.org/p/mayor-bill-de-blasio-value-first-responders">
                            <img class="card-img-top" src="../assets/images/docteam.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Value First
                                    Responders/ Respiratory
                                    Therapists</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </center> 
    
<script type="text/javascript" src="/js/user.js"></script>
    
    